@import url("reset.css");
@import url(https://fonts.googleapis.com/css?family=Inter:500,600,700&display=swap);
.wrapper {
	overflow: clip;
	min-height: 100%;
}
body{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 16px;
    line-height: 1.19;
    color: #212B36;
}
[class*="__container"]{
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}


.menu{
    position: sticky;
   top: 0px;
}

.menu__block{
    background: #FFFFFF;
    position: relative;
    height: 100px;
    
}
.wrapper{
    background-color: #F4F7FF;
}
.icon,
.menu__icon{
    display: inline-block;
    padding-top: 30px;
    padding-right: 44.61px;
    
    
}
.icon__logo{
    display: inline-block;
    padding-right: 15px;
}
.icon__title{
    display: inline-block;
    position: relative;
    top: 9px;  
}
.menu__title{
    background: #F4F7FF;
    border-radius: 5px;
    display: inline-block;
    width: 172px;
    height: 42px;
    position: absolute;
    top: 29px;
    left: 204px;
   
}
h1{
    padding-top: 9px;
    padding-left: 20.39px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #212B36;
    
}
h1::after{
    content: '';
    display: inline-block;
    background: url("../img/99.svg") 0 0 no-repeat;
    width: 10.8px;
    height: 5.8px;
    position: relative;
    left: 13px;
    text-decoration: underline;
}



.menu__home,
.home{
    position: absolute;
    left: 422px;
    top: 41px;
}

.home__link{
    font-weight: 600;
    font-size: 16px;
    line-height: 1.18;
    color: #212B36;

    display: inline-block;
}
.home__link_hover-blue:hover{
    color: #3056D3;
}
.home__link:not(:last-child) {
    margin-right: 35px;
}
.menu__icons,
.icons{
   position: absolute;
   left: 1050px;
   top: 32px;
   height: 31px;
   
}
.icons__01{
    padding-top: 6px;
    margin-right: 20px;
}
.icons__02{
    padding-top: 6px;
    margin-right: 20px;
}
.icons__03{
    padding-top: 6px;
}
.icons__1{
    display: inline-block;
    
}
.icons__3{
    display: inline-block;
}
.icons__1::after{
    content: "3";
    display: inline-block;
    font-weight: 400;
    font-size: 11px;
    line-height: 1.18;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    background: #3056D3;
    padding-top: 2px;
    padding-left: 4px;
    position: absolute;
    left: 59px;
    top: 3px;
    color: #FFFFFF;
}
.icons__3::after{
    content: "1";
    display: inline-block;
    font-weight: 400;
    font-size: 11px;
    line-height: 1.18;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    background: #3056D3;
    padding-top: 2px;
    padding-left: 5px;
    position: absolute;
    left: 105px;
    top: 3px;
    color: #FFFFFF;
}
.sub-menu{
    border: 0.5px solid #E7E7E7;
    border-radius: 5px;
    padding-top: 46px;
    background: #FFFFFF;
    padding-left: 24px;
    min-width: 180px;
    display: none;
}
.sub-menu__item{
    margin-top: 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #637381;
}
.sub-menu__item:hover{
    color: #3056D3;
}
.sub-menu__item:last-child{
    padding-bottom: 22px;
}
.sub-menu__item:nth-child(02)::after{
    content: '';
    display: inline-block;
    background: url("../img/99.svg") 0 0 no-repeat;
    width: 10.8px;
    height: 5.8px;
    position: relative;
    left: 47px;
    top: 0px;
}
.menu__strilka{
    position: absolute;
    top:70px;
    left: 15px;
    display: none;
}
.menu__title:hover .sub-menu{
    display: block;
}
.menu__title:hover .menu__strilka{
    display: block;
}
.colum{
    position: absolute;
    left: 180px;
    top: 130px;
    padding-left: 30px;
    width: 180px;
    border: 0.5px solid #E7E7E7;
    border-radius: 5px;
    background: #FFFFFF;
}
.colum li{
    padding-bottom: 12px;
}
.colum li:first-child{
    padding-top: 30px;
    padding-bottom: 20px;
}
.colum li:last-child{
    padding-bottom: 30px;
}
.colum__item_black{
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #212B36;
}
.colum__list:active{
    color: aqua;
}
.home:nth-child(03)::after{
    content: '';
    display: inline-block;
    background: url("../img/99.svg") 0 0 no-repeat;
    width: 10.8px;
    height: 5.8px;
    position: absolute;
    left: 242px;
    top: 8px;
}
/*
.icons__02::after{
    content: "3";
    display: inline-block;
    font-weight: 400;
    font-size: 11px;
    line-height: 1.18;
}
*/





/*
.categories__title{
    padding-left: 20.39px;
    padding-top: 9px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #212B36;
}
.categories__title::after{
    content: "";
    display: inline-block;
    background: url("../img/99.svg") 0 0 no-repeat;
    width: 10.8px;
    height: 5.8px;
    position: absolute;
    left: 140.39px;
    top: 18px;


}*/